@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
body {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #c2bcbc;
    overflow-x: hidden !important;
}

header {
    background-image: linear-gradient(rgba(49, 49, 49, 0.575), rgba(63, 63, 65, 0.445)), url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 620px;
}

.navigate h3,
.navigate h6 {
    color: white !important;
    font-family: 'Open Sans', sans-serif !important;
}

.navigate li a {
    color: white !important;
    font-family: 'Open Sans', sans-serif !important;
}

.middle-banner {
    /* margin-top: 240px !important; */
    color: white;
    font-family: 'Old Standard TT', serif !important;
    margin-bottom: 80px !important;
}

#heads {
    font-size: 3rem;
}

.banner-buttons .btn {
    color: white !important;
    background-color: rgb(161, 114, 80);
    font-size: .8rem !important;
}

#white-hover:hover {
    background-color: white !important;
    color: black !important;
    font-weight: bolder;
}

.overridden-banner {
    margin-bottom: 11rem !important;
}

.darkie {
    background-color: black;
    height: 8.5rem;
    color: white;
}

.darkie p {
    font-size: .7rem;
}

#brownie {
    height: 8.5rem;
    background-color: #a17250 !important;
    color: white;
    margin-bottom: 11rem !important;
}

.main {
    background-color: #c2bcbc !important;
    width: 100%;
    margin-top: 11rem !important;
}

.hidden-section {
    background-color: #c2bcbc;
    margin-top: 12rem !important;
    margin-bottom: 11rem !important;
    height: 25rem !important;
}

.about-info {
    margin-top: 11rem !important;
    margin-bottom: 11rem !important;
}

.about-info .right h1 {
    font-size: 3rem;
    font-family: 'Old Standard TT', serif !important;
    font-weight: bold;
}

.description {
    background-color: whitesmoke;
}

.description:hover {
    background-color: #1d0900 !important;
    color: white !important;
}

.service-info {
    margin-bottom: 6.25rem;
}

.service-info h1,
.room-types h2,
.resto-bars h2,
.client-review h2,
.vlogs h2 {
    font-size: 3rem !important;
    font-family: 'Old Standard TT', Arial, sans-serif !important;
}

.icon {
    filter: opacity(0.5) drop-shadow(0 0 0 #a17250);
}

.services {
    padding: 30px 20px !important;
    border-radius: 50% 50% 50% 0 !important;
    background-color: white !important;
    width: 10rem;
    height: 10rem;
    line-height: normal;
}

.icon-set {
    filter: opacity(0.5) drop-shadow(0 0 0 #a17250);
    margin-left: -5px;
}

.icon-set:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #000000) !important;
}

.services h6 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    margin-top: -12px !important;
    margin-left: -7px;
}

.services:hover {
    background-color: #a17250 !important;
    color: white;
}

.sandwich-section {
    background-image: linear-gradient(rgba(26, 25, 25, 0.904), rgba(37, 37, 37, 0.842)), url("../images/banner.png");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8rem !important;
}

.leftie,
.room-types {
    font-family: 'Old Standard TT', Arial, sans-serif !important;
}

.leftie h4 {
    color: white;
}

.leftie h6 {
    text-align: start !important;
}

.columnss:hover {
    filter: opacity(0.2) drop-shadow(0 0 0 #000000);
    color: rgb(85, 3, 3) !important;
    font-weight: bold;
}

.resto-bars {
    margin-top: 6.25rem;
    margin-bottom: 9rem !important;
}

.left-one img {
    width: 34rem !important;
    height: 38rem !important;
}

.menu-item {
    height: 8.5rem !important;
}

.menu-item img,
.client-review .top img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.menu-item h6,
.top h6 {
    color: #a17250;
}

.guests {
    width: 22rem !important;
    height: 14rem !important;
}

.client-review {
    margin-bottom: 9rem !important;
}

.counter-up {
    background-color: #1d0900;
    margin-bottom: 9rem !important;
}

.counters {
    color: #a17250;
    font-weight: bold;
}

.vlogs {
    margin-bottom: 8.5rem !important;
}

.gallery img {
    width: 20rem !important;
    height: 12rem !important;
}